<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
    <jsp-config>
        <taglib>
            <taglib-uri>/core</taglib-uri>
            <taglib-location>WEB-INF/c.tld</taglib-location>
        </taglib>
    </jsp-config>
    <servlet>
        <description>Search servlet</description>
        <servlet-name>search</servlet-name>
        <servlet-class>org.xonix.zlo.web.servlets.SearchServlet</servlet-class>
        <init-param>
            <param-name>defaultRequestCharset</param-name>
            <param-value>windows-1251</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Saved message servlet</description>
        <servlet-name>msg</servlet-name>
        <servlet-class>org.xonix.zlo.web.servlets.SavedMessageServlet</servlet-class>
        <init-param>
            <param-name>defaultRequestCharset</param-name>
            <param-value>windows-1251</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>msg</servlet-name>
        <url-pattern>/msg</url-pattern>
    </servlet-mapping>    

    <context-param>
        <description>Whether to display debug info or not.</description>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
