
table, th, td {
    border: solid black;
}

table {
    border-width: 1px 0 0 1px;
    border-collapse: collapse;
    min-width: 100px;
    margin: 0 auto;
}

th, td {
    border-width: 0 1px 1px 0;
}

caption {
    text-align: left;
}
