/* {{ reset bs */
body {
    font-family: serif;
    color: #000;
    font-size: 16px;
    line-height: normal;
}
select,button,input[type="submit"],input[type="text"] {
    font-size: 13.3px;
    line-height: 15px;
    color: 	#111;
    font-family: Arial,serif;
}
input[disabled], select[disabled], textarea[disabled] {
    color: #777;
}
label {
    font-weight: normal;
    margin: 0;
}
input {
    margin: 2px 0;
}
a, a:hover, a:focus {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: #551A8B;
}
/* }} reset bs */

input[type="checkbox"],
input[type="radio"]
{
    vertical-align: -3px;
}
.space1 {
    margin-right: 10px;
}
a img {
    border: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

big {
    font-size: 120%;
    font-weight: bold;
}

h3 {
    margin: 5px auto;
}

#header {
    background: #e1e1e1;
}

#header ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#header ul li {
    display: inline;
    margin: 0 0.2em;
}

#header a:link, #header a:visited {
    color: blue
}

#header a.activeLink {
    color: blue;
    font-weight: bold;
}

#header a:hover {
    background-color: #cc3300;
    color: white;
}

#submitBtn {
    width: 200px;
    padding: 5px 0;
}

#debug {
    background-color: blanchedalmond;
}

#resultTable {
    border-collapse: collapse;
}

#resultTable .odd {
    background-color: #e9e9e9;
}

#resultTable .even {
    background-color: #f0f0f0;
}

#resultTable .odd,
#resultTable .even {
    border-bottom: 1px solid #CCC;
}

#resultTable th {
    background-color: #ccc;
}

#body {
    padding: 0 25px;
}
.numbers td {
    padding-top: 7px;
    padding-right: 8px;
}
.content {
    padding: 0 10px;
}

.nick {
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: red;
    text-align: center;
}

.attention { font-weight: bold; color: red }

a.search {
    font-weight: bold;
    color: green;
    font-size: small;
}

.searchResOuter {
    position: relative;
    margin: 0 10px;
}

.searchRes {
    width: 100%;
}

.quote {
    background-color: #E9E9E9;
    border: 1px solid #CCCCCC;
}

.inquote {
    color: #E9E9E9;
}

.small {
    font-size: small;
}

.nowrap {
    white-space: nowrap;
}

.attention {
    color: red;
    font-weight: bold;
}

.hl0 {
    color: red;
}

.hl {
    background-color: yellow;
}

.center {
    text-align: center;
}

a.brwsr:link, a.brwsr:visited {
    color: blue;
    text-decoration: none
}

a.brwsr:hover {
    text-decoration: underline
}

#header .adminLinks a {
    color: red;
}

#header .adminLinks a:hover {
    color: white;
}

form.inline-form {
    margin-bottom: 0;
    display: inline;
}

form.submitted .ng-invalid {
    border: 1px solid red;
}

.submitBtn1 {
    padding: 3px 30px;
}

ul.msg-tree.is-parent { margin-left: -20px }
ul.msg-tree li { list-style: none }
li.msg-msg { margin-left: 20px }
li.msg-msg > b { text-decoration: underline }
li.msg-child { margin-left: 40px }