
#searchform {
    background: bisque;
    border: blue dashed 1px;
}

#results {
    font-family: Verdana serif;
}

#debug {
    border: blue solid 1px;
}

#resultTable .odd {
    background-color: #e9e9e9;
}

#resultTable .even {
    background-color: #f0f0f0;
}

.error {
    font-weight: bold;
    color: red;
}