<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="info.xonix.zlo.search.config.forums.GetForum">
        <constructor-arg>
            <list>
                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="0"/>

                    <constructor-arg value="zlo"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/zlo.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/zlo.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="3"/>

                    <constructor-arg value="anime"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/anime.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/anime.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="5"/>

                    <constructor-arg value="velo"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/velo.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/velo.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="10"/>

                    <constructor-arg value="dolgopa"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dolgopa.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dolgopa.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="6"/>

                    <constructor-arg value="dev"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dev.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dev.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="9"/>

                    <constructor-arg value="x"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dead/x.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dead/x.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="4"/>

                    <constructor-arg value="games"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dead/games.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dead/games.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="2"/>

                    <constructor-arg value="sport"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dead/sport.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dead/sport.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="7"/>

                    <constructor-arg value="takeoff"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dead/takeoff.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dead/takeoff.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>

                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="8"/>

                    <constructor-arg value="np"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/dead/np.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/dead/np.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>