<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="info.xonix.zlo.search.config.forums.Forums">
        <constructor-arg>
            <list>
                <bean class="info.xonix.zlo.search.logic.forum_adapters.WwwconfForumAdapter">
                    <constructor-arg ref="zlo"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="zlo" class="info.xonix.zlo.search.domainobj.Site">
        <constructor-arg value="zlo"/><!--TODO: conf file path should be passed-->
    </bean>

</beans>