<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="info.xonix.zlo.search.config.forums.GetForum">
        <constructor-arg>
            <list>
                <bean class="info.xonix.zlo.search.config.forums.ForumDescriptor">
                    <constructor-arg value="0"/>

                    <constructor-arg value="zlo"/>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.config.forums.ForumParams">
                            <constructor-arg value="info/xonix/zlo/search/config/forums/zlo.properties"/>
                        </bean>
                    </constructor-arg>

                    <constructor-arg>
                        <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfForumAdapter">
                            <constructor-arg>
                                <bean class="info.xonix.zlo.search.logic.forum_adapters.impl.wwwconf.WwwconfParams">
                                    <constructor-arg value="info/xonix/zlo/search/config/forums/zlo.properties"/>
                                </bean>
                            </constructor-arg>
                        </bean>
                    </constructor-arg>
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>